# Visual Studio cache/options
.vs/

# CMake build directories
build/
out/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio specific
*.user
*.suo
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
